@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family:"Spatha Serif";
    src: url("../public/fonts/spathaserif.ttf") format("truetype");
    font-style: normal;
  }
  @font-face {
    font-family: "Spatha Sans";
    src: url("../public/fonts/spathasans.ttf") format("truetype");
    font-style: normal;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --china-rose: rgb(165, 99, 122);
  --midnight-green: rgb(0, 56, 68);
  --caribbean-current:rgb(0, 108, 103);
  --selective-yellow:rgb(255, 177, 0);
  --dutch-white:rgb(255, 235, 198);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right,  white, lightblue);
  min-height: 100vh;
  font-family: "Spatha Sans";
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo_text{
  border-radius: 10px;
  /* background-color: tan; */
  
 
  
  width: 100%;
  height: 100px;
  font-family: "Spatha Serif";
  font-size: 70px;
  color: var(--china-rose);
}

.kamienice_photo{
  position: fixed;
  bottom: -25%;
  width: 100%;
}

.dropdown_menu{
  align-self: baseline;
  
  border-radius: 10px;
  height: auto;
  text-align: right;
  z-index: 10;
}
.dropdown_menu:not(.active):hover{
  color: var(--dutch-white);
}
.dropdown_menu.active{
  /* background-color: var(--dutch-white); */
  width: 250px;
}


.dropdown_menu ul{
  position: relative;
  /* margin: 5px; */
  font-size: 30px;

}
.dropdown_menu li:hover{
  background-color: var(--dutch-white);
  border-radius: 10px;
  padding: 0px 10px;
}



.create_card{
  height: 100vh;
  position: relative;
  z-index: 1;
  width: 33vw;
  flex: 1;
  border: 1px solid beige;
  transition: all 0.5s;
  background-color: black;
  font-size: 20px;
  color: var(--dutch-white);

  
}

.create_card:hover{
  flex: 2;
  font-size: 35px;
  color: var(--selective-yellow);
}

.card_background{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  object-fit: cover;
  opacity: 0.7;
  transition: all 0.5s;
  
}
.create_card:hover .card_background{
  filter: blur(0);
  opacity: 1;
}


.canvas_class{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  
}


.segmented_image{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1 ;
  
}
.mask_showcase{
  padding: 10;
  height:150vh;
}


.button{
  padding: 10px;
  background-color: var(--midnight-green);
  border-radius: 5px;
  color: var(--dutch-white);
}
.button:hover{
  color: var(--caribbean-current);
  background-color: var(--selective-yellow);
}

.loader{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.canvas_and_image{
  width: 50vh;
}